* {
	outline: none;
	box-sizing: border-box
}

body, html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0
}

body {
	position: relative;
	min-width: 300px;
	display: flex;
	height: auto;
	font-family: $ff;
	font-size: $fs-md;
	line-height: $lh;
	color: $black;
	background-color: $white
}

img {
	max-width: 100%;
	height: auto
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

button {
	border: 0;
	white-space: nowrap;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	margin-top: 90px;

	.footer {
		margin-top: auto
	}
}

.form-auth {
	display: flex;
	flex-direction: column;
	align-items: center;

	label {
		width: 100%;
	}

	fieldset {
		display: flex;
		flex-direction: column;
	}

	input {
		margin: 10px 0;
	}

	button {
		margin-top: 30px;
		width: 100%;
		max-width: 258.667px;
		cursor: pointer;
		padding: 10px 40px;
		background-color: $accent;
		font-family: $ff;
		color: $white;
		border-radius: 10px;
		font-size: 20px;
	}
}