.hero {
	padding-top: 50px;
}

#results {
	margin: 50px 0;
	list-style: decimal;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	padding: 30px;
	border: 3px solid $accent;
	border-style: dotted;
	border-radius: 10px;
	margin-bottom: 20px;
	font-family: $ff;

	@media all and (min-width: $lg) {
		padding: 30px;
		flex-direction: row;
	}

	&:last-child {
		animation: fade 2s ease forwards;

		@keyframes fade  {
			0% {
				filter: grayscale( 100% );
				opacity: 0;
			}
	
			100% {
				filter: grayscale( 0 );
				opacity: 1;
			}
		}
	}

	&:last-child {
		margin-bottom: 0
	}

	&-name, &-town, &-dist, &-metro, &-tech, &-about {
		font-size: 20px;
		margin-bottom: 10px;
		padding-right: 10px;

		@media all and (min-width: $lg) {
			font-size: 18px;
			margin-bottom: 5px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		.first {
			font-family: $ff;
			font-weight: $fw-medium;
			display: inline-block;
			width: 100%;

			@media all and (min-width: $lg) {
				width: 240px;
			}
		}

		.second {
			text-align: right;

			@media all and (min-width: $lg) {
				margin-left: 30px;
			}

			&.on {
				color: $accent;
			}
		}
	}

	&-photo {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		@media all and (min-width: $lg) {
			width: 30%;
		}
		
		.card-avatar {
			width: 200px;
			height: 200px;
			object-fit: cover;
			padding: 10px;
			border: 1px solid $accent;
			border-radius: 10px;
		}
	}

	&-inner {
		width: 100%;
		margin-bottom: 20px;

		@media all and (min-width: $lg) {
			width: 70%;
			margin-bottom: 0;
		}
	}
}

.master-rate {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 5px;
}

.master-tel {
	color: $black;
	border-radius: 10px;
	margin-right: 5px;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.card-button-wrapper {
	display: flex;
	margin-top: 30px;
}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 0;
	padding-left: 0;
	padding-right: 0;
	margin-top: 20px;

	@media all and (min-width: $xl) {
		font-size: 25px;
		flex-direction: row;
		justify-content: space-between;
	}
}

input {
	border: 0;
	border-style: none;
	border-radius: 10px;
	font-family: $ff;
	font-size: 20px;
	margin-bottom: 10px;
	padding: 15px 0 15px 10px;
	background-color: rgb(224, 213, 213);

	&:last-child {
		margin-bottom: 0;
	}

	&::placeholder {
		font-family: $ff;
		font-size: 20px;
		opacity: 1;
	}

	@media all and (min-width: $xl) {
		margin-bottom: 0;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.show {
	color: $accent;
	transition: opacity ease $tr;

	&:hover {
		opacity: 0.75;
	}
}

.card-about {
	cursor: pointer;
	transition: opacity ease $tr;

	.card-info {
		opacity: 0;
		height: 0;
		visibility: hidden;
		transition: height ease $tr;
	}

	&:hover {
		opacity: 0.75;
	}

	&.opened {
		.card-info {
			opacity: 1;
			height: auto;
			visibility: visible;
		}
	}
}
