.header {
	padding: 20px 0;
	background-color: $accent;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-logo {
		font-family: $ff;
		font-weight: $fw-bold;
		color: $white;
		font-family: $ff;
		font-size: 25px;
		line-height: 1;
	}

	&-tel {
		font-family: $ff;
		font-size: 25px;
		color: $white;
	}
}



fieldset {
	display: flex;
	justify-content: center;
	border: 0;
}

input {
	border: 0;
	border-style: none;
	border-radius: 10px;
	font-family: $ff;
	margin-right: 20px;
	padding: 5px 0 5px 10px;

	&:last-child {
		margin-right: 0;
	}
}