.header {
	padding: 10px 0;
	background-color: $accent;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
box-shadow: 0px 0px 5px $black;

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-logo {
		font-family: $ff;
		font-weight: $fw-bold;
		color: $white;
		font-family: $ff;
		font-size: 25px;
		line-height: 1;
	}

	&-tel {
		display: flex;
		flex-direction: column;
		font-family: $ff;
		font-size: 20px;
		color: $white;

		@media all and (min-width: $lg) {
			font-size: 25px
		}

		.time {
			font-size: 12px;
			line-height: 1;
			text-align: center;
		}
	}
}