.footer {
	background-color: $accent;
	padding: 20px 0;
	position: relative;
	z-index: 1;

	&-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	.header-tel {
		display: block;
		text-align: center;

		@media all and (min-width: $md) {
			text-align: left;
		}
	}
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;

	&:last-child {
		display: flex;
		align-items: center;
	}

	&-info {
		margin-top: 20px;
		flex-direction: column;

		@media all and (min-width: $md) {
			margin-top: 0;
			justify-content: flex-start;
		}
	}

	@media all and (min-width: $md) {
		width: calc(25% - 20px );
		margin-right: 20px;

		&:last-child {
			width: 25%;
			margin-right: 0;
		}
	}

	@media all and (min-width: $lg) {
		flex-direction: column;
	}
}

.col {
	font-family: $ff;
	font-weight: $fw-medium;
	color: $white;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;

	@media all and (min-width: $md) {
		text-align: left;
	}

	&-img {
		width: 110px;
		display: flex;
		align-items: center;
		margin-top: auto;
		font-size: 20px;
		cursor: pointer;
		transition: opacity ease $tr;

		picture {
			margin-right: 10px;
		}

		&:hover .up {
			scale: 1.1;
		}

		&:hover {
			opacity: 0.7;
		}

		@media all and (min-width: $md) {
			margin-right: auto;
		}
	}

	&-tel {
		margin-bottom: 0;
	}
}

.up {
	transition: scale ease $tr;
	border-radius: 50%;
	margin-right: 10px;
}

